<!-- Este es el archivo que se llamaba historial_metrica, le cambie el nombre para seguir el formato -->
{% extends "base.html" %}

{% block titulo %} Histórico {% endblock %}

{% block contenido %} 
<br>
<br>
<br>
<center>
<div class="card col-md-6" style="text-align: left;">
    <div class="card-header fw-bold" style="background-color: #D7A5FF;color: #000000;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><a href="{% url 'metricas' %}" class="btn btn-secondary rounded-4 fw-bold" style="background-color: transparent; color: #ffff;border-color: #ffff;border-width: 2px;">⪻ Volver</a></span>
            <span><h2 style="color: #965FB8;">HISTÓRICO</h2></span>
        </div>
    </div>
    <div class="card-body" >
                <title>Historico de la métrica</title>
                
                <body>
                    <h2 style="color: #965FB8;">{{ metrica.titulo }}</h2>
                    <br>
                    <table class="table rounded-4" style="width: flex;">
                        <tr> <!-- El ttulo de las columnas varia segun la frecuancia de la metrica -->
                            {% if metrica.frecuencia == 'Mensual' %}
                                <th>Año</th>
                                <th>Mes</th>
                            {% endif %}
                            {% if metrica.frecuencia == 'Semestral' %}
                                <th>Año</th>
                                <th>Semestre</th>
                            {% endif %}
                            {% if metrica.frecuencia == 'Anual' %}
                                <th>Año</th>               
                            {% endif %}
                            {% if metrica.frecuencia == 'Bianual' or metrica.frecuencia == 'Cuatrienal'%}
                                <th>Año inicio</th>
                                <th>Año fin</th>
                            {% endif %} 
                            <th>Valor</th>                           
                        </tr>

                        {% for item in historial %}
                            <tr> <!-- Los campos que se mostraran varian segun la frecuancia de la metrica -->
                                <td scope="row">{{ item.año_historico }}</td>
                                {% if metrica.frecuencia == 'Mensual' %}                              
                                    <td scope="row">{{ item.mes_historico }}</td>
                                {% endif %}
                                {% if metrica.frecuencia == 'Bianual' or metrica.frecuencia == 'Cuatrienal' %} 
                                    <td scope="row">{{ item.año2_historico }}</td>   
                                {% endif %}
                                {% if metrica.frecuencia == 'Semestral' %} 
                                    <td scope="row">{{ item.semestre_historico }}</td>     
                                {% endif %}
                                <td>{{ item.valor_historico }}</td>
                                {% if request.user.is_authenticated and not es_owner %}
                                    <td><a class="btn eliminar-btn" data-id="{{ item.id }}" style="background-color: #D7A5FF;" role="button"><i class="fa-solid fa-trash-can"></i></a></td>
                                {% endif %}
                                </tr>
                        {% endfor %}                        
                    </table>

                    <br>
                    {% if request.user.is_authenticated and not es_owner %}
                        <h6>Agregar nueva instancia:</h6>
                        {%  include 'instancias/form.html' %}
                    {% endif %}
                </body>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

    </div>  
    <div>
        <h1>Gráfico Matplotlib en Django</h1>

        <!-- Mostrar la imagen del gráfico -->
        <img src="data:image/png;base64,{{ imagen_grafico }}" alt="Gráfico">
    </div>
    <div class="card-footer text-muted" style="background-color: #D7A5FF;">
        <br>
    </div>   
</div>
<br> 
</center>

<script>                   
    // Esta funcion quita el mensaje de exito despues de un tiempo
    setTimeout(function() {
        var altaExitosaMessage = document.querySelector('.messages .alta-exitosa');
        if (altaExitosaMessage) {
            altaExitosaMessage.style.display = 'none';
        }
    }, 3000);  // Tiempo en el que se muestra el mensaje de éxito
    
    // Esta funcion elimina la instancia si se hace clic en el boton de eliminar instancia
    document.addEventListener("DOMContentLoaded", function() {
        const eliminarButtons = document.querySelectorAll(".eliminar-btn");
        
        eliminarButtons.forEach(button => {
            button.addEventListener("click", function() {
                const historialId = this.getAttribute("data-id");
                
                if (confirm("¿Estás seguro de que deseas eliminar esta instancia?")) {
                    // Realizar la solicitud AJAX para eliminar el historial
                    fetch(`/eliminar_historial_metrica/${historialId}/`, {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}",
                            "Content-Type": "application/json"
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        // Eliminar la fila de la tabla en la página
                        if (data.success) {
                            const fila = this.closest("tr");
                            fila.remove();
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
                }
            });
        });
    });
</script>

<script>
    const getOptionChart = async () => {
    try {
        const response = await fetch("http://127.0.0.1:8000/api/get_chart/");
        return await response.json();
    } catch (ex) {
        alert(ex);
    }
};

const initChart = async () => {
    const myChart = echarts.init(document.getElementById("chart"));

    myChart.setOption(await getOptionChart());

    myChart.resize();
};

window.addEventListener("load", async () => {
    await initChart();
    setInterval(async () => {
        await initChart();
    }, 2000);
});
</script>


{% endblock %}