{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div
                class="h-100 p-5 text-white bg-light border rounded-3">
                <h2>Bienvenidos a MIRe</h2>
                <br>
                <h6>El monitor de Indicadores para Resultados UTN (MIRe UTN) es una plataforma que permite la visualización de cómo se alinean los objetivos de los programas brindados por la Secretaría de Coordinación Universitaria con los objetivos estratégicos establecidos. Es un instrumento clave para la planeación dado que proporciona información de monitoreo y evaluación de resultados a partir de la medición de indicadores. </h6>
                <br>
                <button class="rounded-2">Example button</button>
                <button class="rounded-2" style="background-color: #f60;" type="button">Probando</button>
                <button class="rounded-2" style="background-color: #ffd500;" type="button">Nuestra</button>
                <button class="rounded-2" style="background-color: #ffff;" type="button">paleta</button>
                <button class="rounded-2" style="background-color: #a020b0;" type="button">de colores</button>
                <br>
                <br>
                <img src="static/images/proyecto.png" class="img-fluid">  
            </div>
    
        </div>
    </div> 

{% endblock %}