{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

<div class="row align-items-md-stretch">
   <div class="col-md-12">
       <div
           class="cont rounded-4">
           <br>
           <br>
           <br>
           <br>
           <br>
           <h2 class='text-center' style="color: #ffd500;">Objetivos</h2>
           <br>
           <br>
           <br>
           <h7 style="color: #ffd500;">Solamente probando imagen de fondo...</h7>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
        
       </div>

   </div>
</div> 

{% endblock %}