{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

<div class="row align-items-md-stretch">
   <div class="col-md-12">
       <div
           class="cont rounded-4">
           <br>
           <br>
           <h2 style="color: #ffd500;">Objetivos</h2>
           <br>
           <h7>Nuestro objetivo como equipo es desarrollar un software que permita monitorear el progreso de los objetivos y los indicadores en tiempo real, filtrados por áreas y secretarías. Este software se enfoca en la necesidad específica de la facultad de tener una herramienta de seguimiento y control de los indicadores clave para el logro de sus objetivos estratégicos.

            La herramienta propuesta permitirá filtrar los indicadores según su tipo, ya sea de calidad o cantidad, entre otros criterios como la periodicidad y el ámbito de los indicadores. Además, se podrán cargar los valores necesarios para cada indicador, y el software realizará automáticamente los cálculos necesarios para obtener los valores de los indicadores. Los informes estadísticos generados por la herramienta se presentarán en forma de gráficos para facilitar su análisis y seguimiento. Esto permitirá una visualización clara y concisa del progreso de los indicadores, lo que facilitará la toma de decisiones y la identificación de oportunidades de mejora.
            
            Para garantizar que la herramienta cumpla con las necesidades específicas de la facultad, se trabajará en colaboración con el cliente para identificar los indicadores más relevantes y definir la periodicidad de medición de cada uno de ellos. El software se adaptará a las necesidades específicas de los miembros de la UTN,  asegurando así que cumpla con los requisitos y expectativas de los usuarios.
            
            Se espera que esta herramienta en un futuro pueda ser utilizada en todas las regionales y pueda generar informes que puedan ser presentados a autoridades superiores, como el decanato o rectorado.
            
            En resumen, el software será una solución integral que ayudará a la comunidad universitaria a manejar y analizar datos, simplificar el proceso de seguimiento y control de los indicadores clave, generar informes estadísticos claros y concisos, y tomar decisiones informadas para mejorar el desempeño de la universidad.
             </h7>
           <br>
           <br>
           <br>
           <br>
           <br>
        
       </div>

   </div>
</div> 

{% endblock %}