{% extends 'base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}

{% if owner and creado %}
  <h4>El owner ya ha sido creado</h4>
{% elif admin and not permisos %}
  <h4>Solo el Owner puede dar de alta usuarios administradores</h4>
{% else %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% if owner %}          
    <h3>REGISTRO DE OWNER</h3>
  {% else %}
    <h3>REGISTRO DE ADMINISTRADOR</h3>
  {% endif %}
    <form id="register-form" action="" method="post">
        {% csrf_token %}

        <div class="card mx-auto" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Complete todos los campos</h5>
            {{ form.username | as_crispy_field }}
            {{ form.first_name | as_crispy_field }}
            {{ form.last_name | as_crispy_field }}
            {{ form.email | as_crispy_field }}
            {{ form.password1 | as_crispy_field }}
            {{ form.password2 | as_crispy_field }}

            {% if not owner %}          
              {{ form.area | as_crispy_field }}
            {% endif %}

            <a href={% url 'inicio' %} class="card-link">Inicio</a>
            <a href={% url 'login' %} class="card-link">Iniciar sesion</a>
            <button class="btn btn-sm btn-primary float-end" type="submit">Registrarse</button>
          </div>
        </div>
    </form>
  {% endif %}
{% endblock %}