{% extends "base.html" %}

{% block titulo %} Editar indicador {% endblock %}

{% block contenido %} 

<center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="card col-md-6" style="text-align: left;">
    <div class="card-header fw-bold" style="background-color: #965FB8;color: #fff;">
        <div style="display: flex; justify-content: space-between; align-items: center;">

            <span> <!-- Boton para volver atras -->
                <a href="{% url 'indicadores' %}" class="btn btn-secondary rounded-4 fw-bold" style="background-color: transparent; color: #ffff;border-color: #ffff;border-width: 2px;">← Volver</a>
            </span>
            <span> <!-- Titulo del cuadro -->
                <h2>INDICADORES</h2>
            </span>

        </div>
    </div>

    <div class="card-body" style="background-color: #D7A5FF">
        <h4 class="card-title" style="color: #965FB8;">Editar Indicador</h4>        
        {%  include 'indicadores/form_editar.html' %}
    </div>
    <div class="card-footer text-muted" style="background-color: #965FB8"></div>

</div>
</center>
{% endblock %}