<form enctype="multipart/form-data" method="post">
  {% csrf_token %}  
  
      <div class="mb-3">
        <label for="{{ formulario2.nombre.id_for_label }}" class="form-label">{{ formulario2.nombre.label }}</label>
        {{ formulario2.nombre }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.nombre.errors }}</div>
      <div class="mb-3">
        <label for="{{ formulario2.descripcion.id_for_label }}" class="form-label">{{ formulario2.descripcion.label }}</label>
        {{ formulario2.descripcion }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.descripcion.errors }}</div>      
      <div class="mb-3">
        <label for="{{ formulario2.frecuencia.id_for_label }}" class="form-label">{{ formulario2.frecuencia.label }}</label>
        {{ formulario2.frecuencia }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.frecuencia.errors }}</div>     
      <div class="mb-3">
        <label for="{{ formulario2.ambito.id_for_label }}" class="form-label">{{ formulario2.ambito.label }}</label>
        {{ formulario2.ambito }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.ambito.errors }}</div>      
      <div class="mb-3">
        <label for="{{ formulario2.tipo.id_for_label }}" class="form-label">{{ formulario2.tipo.label }}</label>
        {{ formulario2.tipo }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.tipo.errors }}</div>      
      <div class="mb-3">
        <label for="{{ formulario2.formula.id_for_label }}" class="form-label">{{ formulario2.formula.label }}</label>
        {{ formulario2.formula }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.formula.errors }}</div>  

      <div class="horizontal-fields" style="display:flex" style="flex-direction:row" >
        <div style="margin:auto">
          (
        </div>
        <div class="field-wrapper">
          {{ formulario2.numerador }}  
          {{ formulario2.denominador }}  
        </div>
        <div class="field-wrapper">
          {{ formulario2.numerador_u_medida }}  
          {{ formulario2.denominador_u_medida }}  
        </div>
        <div class="field-wrapper">
          {{ formulario2.numerador_valor }}  
          {{ formulario2.denominador_valor }}  
        </div>            
        <div style="margin:auto">
          -1   
        </div>      
        <div style="margin:auto">
          )
        </div>        
        <div style="margin:auto">
          x100
        </div>        
        <div style="margin:auto">
          =
        </div>
        <div style="margin:auto">
          {{ formulario2.denominador_valor }}
        </div>
        <div style="margin:auto">
          %
        </div>
      </div>

  
  <input name="" id="" class="btn btn-success" style="background-color: #965FB8;border-color: #a020b0;" type="submit" value="Confirmar">
  <a name="" id="" class="btn btn-success" style="background-color: #f60; border-color: #f60;" href="{% url 'indicadores' %}" role="button">Cancelar</a>


</form>

<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

let ambito_field = document.getElementById("id_ambito")
let tipo_field = document.getElementById("id_tipo")

ambito_field.addEventListener("change", pickState)
function pickState(e){
    ambito_id = e.target.value
    const data = { user_id: ambito_id}
    let url = " {% url 'tipos' %} "

fetch(url, {
method: 'POST', // or 'PUT'
headers: {
'Content-Type': 'application/json',
'X-CSRFToken': csrftoken
},
body: JSON.stringify(data),
})
.then(response => response.json())
.then(data => {
console.log('Success:', data[0]['nombre']);

tipo_field.innerHTML = `<option value = "" selescted>---------------</option>`
for(let i = 0; i<data.length; i++){
  tipo_field.innerHTML += `<option value = "${data[i]["id"]}" selescted>${data[i]["nombre"]}</option>`

}
})
.catch((error) => {
console.error('Error:', error);
});

    }
    let input = document.getElementById("id_nombre")
    let select = document.getElementsByTagName("select")
    console.log(select)

    input.classList.add("form-control")

    for(let i = 0; i <select.length; i++){
        select[i].classList.add("form-select")
    }
</script>