<form enctype="multipart/form-data" method="post">
  {% csrf_token %}  
  
      <div class="mb-3">
        <label for="{{ formulario2.nombre.id_for_label }}" class="form-label">{{ formulario2.nombre.label }}</label>
        {{ formulario2.nombre }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.nombre.errors }}</div>
      <div class="mb-3">
        <label for="{{ formulario2.descripcion.id_for_label }}" class="form-label">{{ formulario2.descripcion.label }}</label>
        {{ formulario2.descripcion }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.descripcion.errors }}</div>      
      <div class="mb-3">
        <label for="{{ formulario2.frecuencia.id_for_label }}" class="form-label">{{ formulario2.frecuencia.label }}</label>
        {{ formulario2.frecuencia }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.frecuencia.errors }}</div>    
      <div class="horizontal-fields">
        <div class="field">
          <label for="{{ formulario2.ambito.id_for_label }}" class="form-label">{{ formulario2.ambito.label }}</label>
          {{ formulario2.ambito }}  
          <div class="help-text">{{ formulario2.ambito.errors }}</div>
        </div>
        
        <div class="field">
          <label for="{{ formulario2.tipo.id_for_label }}" class="form-label">{{ formulario2.tipo.label }}</label>
          {{ formulario2.tipo }}  
          <div class="help-text">{{ formulario2.tipo.errors }}</div>
        </div>
      </div>      
      <div class="mb-3">
        <label for="{{ formulario2.formula.id_for_label }}" class="form-label">{{ formulario2.formula.label }}</label>
        {{ formulario2.formula }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.formula.errors }}</div>  
      <div class="horizontal-fields" style="display:flex" style="flex-direction:row" >
      </div>
      <h6>Seleccione numerador:</h6>
      <div class="horizontal-fields" style="display:flex" style="flex-direction:row" >
        <div style="flex: 1;">
          <label style="margin-right: 5px;">Métrica</label> 
          {{ formulario2.numerador }}
        </div>
        <div style="flex: 0,5;">
          <label style="margin-right: 5px;">Unidad de Medida</label> 
          {{ formulario2.numerador_medida }}
        </div>
        <div style="flex: 0,5;"> 
          <label style="margin-right: 5px;">Período</label> 
          {{ formulario2.numerador_periodo }}
        </div>
      </div>
      <h6>Seleccione denominador:</h6>
      <div class="horizontal-fields" style="display:flex" style="flex-direction:row" >
        <div style="flex: 1;">
          <label style="margin-right: 5px;">Métrica</label> 
          {{ formulario2.denominador }}
        </div>
        <div style="flex: 0,5;">
          <label style="margin-right: 5px;">Unidad de Medida</label> 
          {{ formulario2.denominador_medida }}
        </div>
        <div style="flex: 0,5;"> 
          <label style="margin-right: 5px;">Período</label> 
          {{ formulario2.denominador_periodo }}
        </div>
      </div>
      <br>
      <div class="horizontal-fields" style="display: flex; flex-direction: row; align-items: center;">
        <label style="margin-right: 10px;">Fórmula:</label>
        <div style="display: flex; align-items: center;">
            <div style="margin: auto;">
                <h1>(</h1>
            </div>
            <div class="field-wrapper">
                {{ formulario2.numerador_valor }}  
                {{ formulario2.denominador_valor }}  
            </div>            
            <div style="margin: auto;">
                <h6>-1</h6>   
            </div>      
            <div style="margin: auto;">
                <h1>)</h1>
            </div>        
            <div style="margin: auto;">
                <h6>x100</h6>
            </div>        
            <div style="margin: auto;">
                <h6>=</h6>
            </div>
        </div>
        <div style="margin:auto">
          {{ formulario2.resultado }}
          <button class='rounded-4 fw-bold 'id="miBoton" type="button" style="margin-left: 32%; color: #965FB8;border-color: #965FB8;border-radius: 4px;">Calcular</button>
        </div>
        <div style="margin:auto">
          <h6>%</h6>
        </div>
      </div>
      
  <br>
  <input name="" id="" class="btn btn-success" style="background-color: #965FB8;border-color: #965FB8; margin-left:17%;" type="submit" value="Confirmar">
  <a name="" id="" class="btn btn-success" style="background-color: #f60; border-color: #f60;margin-left: 0,5%;" href="{% url 'indicadores' %}" role="button">Cancelar</a>

</form>

<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
//Defino los botones/campos que necesito "escuchar"
let valor_num = document.getElementById("id_numerador_valor")
let valor_den = document.getElementById("id_denominador_valor")
let periodo_num = document.getElementById("id_numerador_periodo")
let periodo_den = document.getElementById("id_denominador_periodo")
let numerador_campo = document.getElementById("id_numerador")
let denominador_campo = document.getElementById("id_denominador")
let formula_campo = document.getElementById("id_formula")
let ambito_field = document.getElementById("id_ambito")//Los id de los campos es igual al nombre del atributo en models.py, precedido de un "id_"
let tipo_field = document.getElementById("id_tipo")
let boton = document.getElementById("miBoton");//El id del boton debe ser igual al id con el que defini el boton en el formulario (arriba)

//Este evento carga la lista de Tipos, se ejecuta al seleccionar un ambito
ambito_field.addEventListener("change", cargarTipos)
function cargarTipos(e){
    ambito_id = e.target.value //Selecciona el id del ambito elegido por el usuario
    const data = { user_id: ambito_id} //Agrega el ambito a un objeto 
    let url = " {% url 'tipos' %} " //Configura la url en la que buscará los tipos, en este caso es la vista de tipos (ver en views.py)

  fetch(url, { //Hace la request HTTP
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(data), //envia en la id del ambito elegido, la que se guardo mas arriba en la variable data
  })
  .then(response => response.json())
  .then(data => { //se reutiliza la variable data para guardr el resultado, osea todos los tipos relacionados con el ambito elegido
  console.log('Success:', data[0]['nombre']);
  //Se agrega al dropdown todos los elementos recibidos:
  tipo_field.innerHTML = `<option value = "" selescted>---------------</option>`
  for(let i = 0; i<data.length; i++){
    tipo_field.innerHTML += `<option value = "${data[i]["id"]}" selescted>${data[i]["nombre"]}</option>`
  }
  })
  .catch((error) => {
    console.error('Error:', error);
  });
}
//Le agrega la clase de select para que funcione como un dropdown
let select = document.getElementsByTagName("select")
console.log(select)
for(let i = 0; i <select.length; i++){
  select[i].classList.add("form-select")
}


numerador_campo.addEventListener("change", cargarPeriodos_num)//carga los los periodos del numerador
numerador_campo.addEventListener("change", cargarMedida_num)//carga la unidad de medida del numerador
periodo_num.addEventListener("change", cargarValor_num)// carga el valor del numerador
function cargarPeriodos_num(e){
    numerador_id = e.target.value 
    const data = { user_id: numerador_id} 
    let url = " {% url 'instancias' %} " 

  fetch(url, { 
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(data), 
  })
  .then(response => response.json())
  .then(data => { 
  // console.log('Success:', data[0]['año_historico']); 

  periodo_num.innerHTML = `<option value = "" selescted>---------------</option>`
  for(let i = 0; i<data.length; i++){
    periodo_num.innerHTML += `<option value = "${data[i]["metrica"]}" selescted>${data[i]["año_historico"]}</option>`
  }
  })
  .catch((error) => {
    console.error('Error:', error);
  });
}

function cargarMedida_num(e){
    let medida_num = document.getElementById("id_numerador_medida")
    numerador_id = e.target.value 
    console.log(numerador_id);
    const data = { user_id: numerador_id} 
    let url = " {% url 'medidas' %} " 

  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(data), 
  })
  .then(response => response.json())
  .then(data => { 
  // console.log('Success:', data[0]['año_historico']);
  
  console.log(data[0]["unidad_medida"]);
  medida_num.value = data[0]["unidad_medida"]
  })
  .catch((error) => {
    console.error('Error:', error);
  });
}

function cargarValor_num(e){    
  numerador_id = e.target.value //devuelve undefined
  console.log(numerador_id);
  const data = { user_id: numerador_id} 
  let url = " {% url 'instancias' %} " 

  fetch(url, { //Hace la request HTTP
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(data), 
  })
  .then(response => response.json())
  .then(data => { 
  // console.log('Success:', data[0]['año_historico']);
  
  console.log(data[0]["valor_historico"]);
  valor_num.value = data[0]["valor_historico"]
  })
  .catch((error) => {
    console.error('Error:', error);
  });
}


denominador_campo.addEventListener("change", cargarPeriodos_den)//Carga ls instancias del denominador
denominador_campo.addEventListener("change", cargarMedida_den)//Carga la unidad de medida del denominador
periodo_den.addEventListener("change", cargarValor_den)//Carga el valor del denomindor
function cargarPeriodos_den(e){
    denominador_id = e.target.value
    const data = { user_id: denominador_id} 
    let url = " {% url 'instancias' %} " 

  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(data), 
  })
  .then(response => response.json())
  .then(data => { 
  // console.log('Success:', data[0]['año_historico']);

  periodo_den.innerHTML = `<option value = "" selescted>---------------</option>`
  for(let i = 0; i<data.length; i++){
    periodo_den.innerHTML += `<option value = "${data[i]["metrica"]}" selescted>${data[i]["año_historico"]}</option>`
  }
  })
  .catch((error) => {
    console.error('Error:', error);
  });
}

function cargarMedida_den(e){
  let medida_den = document.getElementById("id_denominador_medida")
  denominador_id = e.target.value 
  const data = { user_id: denominador_id} 
  let url = " {% url 'medidas' %} " 

  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(data), 
  })
  .then(response => response.json())
  .then(data => { 
  // console.log('Success:', data[0]['año_historico']);
  
  console.log(data[0]["unidad_medida"]);
  medida_den.value = data[0]["unidad_medida"]
  })
  .catch((error) => {
    console.error('Error:', error);
  });
}

function cargarValor_den(e){
    denominador_id = e.target.value //devuelve undefined
    console.log(denominador_id);
    const data = { user_id: denominador_id} 
    let url = " {% url 'instancias' %} " 

  fetch(url, { //Hace la request HTTP
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(data), 
  })
  .then(response => response.json())
  .then(data => { 
  // console.log('Success:', data[0]['año_historico']);
  
  console.log(data[0]["valor_historico"]);
  valor_den.value = data[0]["valor_historico"]
  })
  .catch((error) => {
    console.error('Error:', error);
  });
}

formula_campo.addEventListener("change", resetearFormula)//Carga el valor del denomindor
function resetearFormula(e){    
  seleccion = e.target.value //devuelve undefined
  if (seleccion == ''){
    document.getElementById("id_numerador_medida").value = ''
    document.getElementById("id_denominador_medida").value = ''
    document.getElementById("id_numerador_valor").value = ''
    document.getElementById("id_denominador_valor").value = ''
    document.getElementById("id_resultado").value = ''
    periodo_den.selectedIndex = 0;
    periodo_num.selectedIndex = 0;
    numerador_campo.selectedIndex = 0;
    denominador_campo.selectedIndex = 0;
  }
}

//Este evento calcula el valor del indicador, se ejecuta al hacer clic en el boton "Calcular"
boton.addEventListener("click", calcular)
function calcular(){
  //Se definen todos los campos que voy a leer/escribir
  let medida_num = document.getElementById("id_numerador_medida")
  let medida_den = document.getElementById("id_denominador_medida")
  let formula_field = document.getElementById("id_formula")
  let valor_field = document.getElementById("id_resultado") 
  let periodo_den_campo = periodo_den.options[periodo_den.selectedIndex].textContent
  let periodo_num_campo = periodo_num.options[periodo_num.selectedIndex].textContent

  if (formula_field.value == 'Tasa de Variacion'){
    if ( periodo_num_campo != periodo_den_campo){
      if (medida_num.value == medida_den.value){
        let result = ((valor_num.value / valor_den.value) - 1) * 100  
        valor_field.value = result
      }else{
        alert('Las unidades de medida deben ser iguales');
        valor_field.value = 'ERROR';
      }
    }else{
      alert('Los periodos deben ser distintos')
      valor_field.value = 'ERROR'
    ;}
  }
  else if (formula_field.value == 'Porcentaje'){
    if ( periodo_num_campo == periodo_den_campo){
      if (medida_num.value == medida_den.value){
        let result = (valor_num.value / valor_den.value) * 100  
        valor_field.value = result        
      }else{
        alert('Las unidades de medida deben ser iguales')
        valor_field.value = 'ERROR';
      ;}
    }else{
      alert('Los periodos deben ser iguales');
      valor_field.value = 'ERROR';
    }
  }
  else if (formula_field.value == 'Promedio'){
    if ( periodo_num_campo == periodo_den_campo){
      if ( medida_num.value != medida_den.value){
        let result = (valor_num.value / valor_den.value) * 100  
        valor_field.value = result        
      }else{
        alert('Las unidades de medida deben ser distintas');
        valor_field.value = 'ERROR';}
    }else{
      alert('Las periodos deben ser iguales');
      valor_field.value = 'ERROR';
    }
  }else{
    alert('No se ha seleccionado ningun tipo de formula');
  }
};

</script>