<form enctype="multipart/form-data" method="post">
  {% csrf_token %}  
  
      <div class="mb-3">
        <label for="{{ formulario2.nombre.id_for_label }}" class="form-label">{{ formulario2.nombre.label }}</label>
        {{ formulario2.nombre }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.nombre.errors }}</div>
      <div class="mb-3">
        <label for="{{ formulario2.descripcion.id_for_label }}" class="form-label">{{ formulario2.descripcion.label }}</label>
        {{ formulario2.descripcion }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.descripcion.errors }}</div>      
      <div class="mb-3">
        <label for="{{ formulario2.frecuencia.id_for_label }}" class="form-label">{{ formulario2.frecuencia.label }}</label>
        {{ formulario2.frecuencia }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.frecuencia.errors }}</div>     
      <div class="mb-3">
        <label for="{{ formulario2.ambito.id_for_label }}" class="form-label">{{ formulario2.ambito.label }}</label>
        {{ formulario2.ambito }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.ambito.errors }}</div>      
      <div class="mb-3">
        <label for="{{ formulario2.tipo.id_for_label }}" class="form-label">{{ formulario2.tipo.label }}</label>
        {{ formulario2.tipo }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.tipo.errors }}</div>      
      <div class="mb-3">
        <label for="{{ formulario2.formula.id_for_label }}" class="form-label">{{ formulario2.formula.label }}</label>
        {{ formulario2.formula }}  
      </div>
      <div class="col-12 help-text">{{ formulario2.formula.errors }}</div>  
      <div class="horizontal-fields" style="display:flex" style="flex-direction:row" >
      </div>
      <div class="horizontal-fields" style="display:flex" style="flex-direction:row" >
        <label>metrica numerador</label> 
        {{ formulario2.numerador }} 
        <label>periodo numerador</label> 
        {{ formulario2.numerador_periodo }} 
      </div>
      <div class="horizontal-fields" style="display:flex" style="flex-direction:row" >
        <label>metrica denominador</label> 
        {{ formulario2.denominador }} 
        <label>periodo denominador</label> 
        {{ formulario2.denominador_periodo }} 
      </div>
      <div class="horizontal-fields" style="display:flex" style="flex-direction:row" >
        <div style="margin:auto">
          (
        </div>
        <div class="field-wrapper">
          {{ formulario2.numerador_medida }}  
          {{ formulario2.denominador_medida }}  
        </div>
        <div class="field-wrapper">
          {{ formulario2.numerador_valor }}  
          {{ formulario2.denominador_valor }}  
        </div>            
        <div style="margin:auto">
          -1   
        </div>      
        <div style="margin:auto">
          )
        </div>        
        <div style="margin:auto">
          x100
        </div>        
        <div style="margin:auto">
          =
        </div>
        <div style="margin:auto">
          <button id="miBoton" type="button" style="background-color: rgb(0, 3, 192)">Calcular</button>
          {{ formulario2.resultado }}
        </div>
        <div style="margin:auto">
          %
        </div>
      </div>
      
  
  <input name="" id="" class="btn btn-success" style="background-color: #965FB8;border-color: #a020b0;" type="submit" value="Confirmar">
  <a name="" id="" class="btn btn-success" style="background-color: #f60; border-color: #f60;" href="{% url 'indicadores' %}" role="button">Cancelar</a>


</form>

<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
let ambito_field = document.getElementById("id_ambito")
let tipo_field = document.getElementById("id_tipo")
let boton = document.getElementById("miBoton");

//Evento que calcula el valor del indicador, se ejecuta al clickear "Calcular"
boton.addEventListener("click", function() {
  let formula_field = document.getElementById("id_formula")
  let numerador_field = document.getElementById("id_numerador")
  let denominador_field = document.getElementById("id_denominador")
  let numerador_periodo_field = document.getElementById("id_numerador_periodo")
  let denominador_periodo_field = document.getElementById("id_denominador_periodo")
  let numerador_medida_field = document.getElementById("id_numerador_medida")
  let denominador_medida_field= document.getElementById("id_denominador_medida")
  let numerador_valor_field = document.getElementById("id_numerador_valor")
  let denominador_valor_field = document.getElementById("id_denominador_valor")
  let valor_field = document.getElementById("id_resultado") 

  if (formula_field.value == 'Tasa de Variacion'){
    if ( numerador_periodo_field.value != denominador_periodo_field.value){
      if (numerador_medida_field.value == denominador_medida_field.value){
        var result = ((numerador_valor_field.value / denominador_valor_field.value) - 1) * 100  
        console.log(result);
        valor_field.value = result        
      }else{console.log('Las unidades de medida deben ser iguales');}
    }else{console.log('Los periodos deben ser distintos');}
  }
  else if (formula_field.value == 'Porcentaje'){
    if ( numerador_periodo_field.value == denominador_periodo_field.value){
      if (numerador_medida_field.value == denominador_medida_field.value){
        var result = (numerador_valor_field.value / denominador_valor_field.value) * 100  
        console.log(result);
        valor_field.value = result        
      }else{console.log('Las unidades de medida deben ser iguales');}
    }else{console.log('Los periodos deben ser iguales');}
  }
  else if (formula_field.value == 'Promedio'){
    if ( numerador_periodo_field.value == denominador_periodo_field.value){
      if (numerador_medida_field.value != denominador_medida_field.value){
        var result = (numerador_valor_field.value / denominador_valor_field.value) * 100  
        console.log(result);
        valor_field.value = result        
      }else{console.log('Las unidades de medida deben ser distintas');}
    }else{console.log('Las periodos deben ser iguales');}
  }
});

//Evento que carga la lista de Tipos, se ejecuta al seleccionar un ambito
ambito_field.addEventListener("change", pickState)
function pickState(e){
    ambito_id = e.target.value //Selecciona el id del ambito elegido por el usuario
    const data = { user_id: ambito_id} //Agrega el ambito a un objeto 
    let url = " {% url 'tipos' %} " //Configura la url en la que buscará los tipos, en este caso es la vista de tipos (ver en views.py)

  fetch(url, { //Hace la request HTTP
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(data), //envia en la id del ambito elegido, la que se guardo mas arriba en la variable data
  })
  .then(response => response.json())
  .then(data => { //se reutiliza la variable data para guardr el resultado, osea todos los tipos relacionados con el ambito elegido
  console.log('Success:', data[0]['nombre']);
  //Se agrega al dropdown todos los elementos recibidos:
  tipo_field.innerHTML = `<option value = "" selescted>---------------</option>`
  for(let i = 0; i<data.length; i++){
    tipo_field.innerHTML += `<option value = "${data[i]["id"]}" selescted>${data[i]["nombre"]}</option>`
  }
  })
  .catch((error) => {
    console.error('Error:', error);
  });

}
  let input = document.getElementById("id_nombre")
  let select = document.getElementsByTagName("select")
  console.log(select)
  
  input.classList.add("form-control")
  for(let i = 0; i <select.length; i++){
      select[i].classList.add("form-select")
  }
</script>