{% extends "base.html" %}

{% block titulo %} Detalles del Indicador {% endblock %}

{% block contenido %}
<center>
<div class="col-md-8 card" style="text-align: left;">
    <div class="card-header" style="background-color: #D7A5FF;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><a href="{% url 'indicadores' %}" class="btn btn-secondary rounded-4 fw-bold" style="background-color: transparent; color:white;border-color: white;border-width: 2px;">⪻ INDICADORES</a></span>
            <span><h2>{{ indicador.nombre }}</h2></span>
        </div>
        
    </div>
    <div class="card-body">
        <dl class="row rounded-4" style="background-color: white;">
            <dt class="col-sm-9" style="margin-left: 15px;">Descripción ✐</dt>
            <br>
            <dd class="col-sm-9 rounded-4" style="background-color: #D7A5FF;height: 35px;margin-left: 20px;">{{ indicador.descripcion }}</dd>
            <br>
            <br>
            <br>
            <dt class="col-sm-6">Ámbito de medición ✐</dt>
            <dt class="col-sm-6" style="margin-left: 150x;">Tipo de indicador ✐</dt>
            
            <dd class="col-sm-3  text-center rounded-4" style="background-color: #D7A5FF; margin-right: 185px;margin-left: 10px;">{{ indicador.ambito }}</dd>
            <dd class="col-sm-3 text-center rounded-4" style="background-color: #D7A5FF; height: 35px">{{ indicador.tipo }}</dd>
        </dl>
    </div>
    <div class="card-footer text-muted" style="background-color: #D7A5FF;">
        <br>
    </div>
</div>
        
</center>


{% endblock %}
