h2{
    color: #A020B0;
}

button {
    color:rgb(255, 255, 255);
    background-color: #e468f4
}
h6 {
    color: #A020B0;
    font-size: 10px;
    text-align: justify;
}

a {
    
    background-color: #e468f4;
}

texto-justificado {
    text-align: justify;
    }
//////probando///////
