{% extends "base.html" %}

{% block titulo %} Agregar nueva métrica {% endblock %}

{% block contenido %} 

<center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card col-md-6" style="text-align: left;">
        <div class="card-header fw-bold" style="background-color: #D7A5FF;color: #000000;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><a href="{% url 'metricas' %}" class="btn btn-secondary rounded-4 fw-bold" style="background-color: transparent; color: #ffff;border-color: #ffff;border-width: 2px;">⪻ Volver</a></span>
            <span><h2 style="color: #965FB8;">MÉTRICAS</h2></span>
        </div>
        </div>
        <div class="card-body" style="background-color: #D7A5FF;">
            <h4 style="color: #965FB8">Nueva métrica</h4>
            {%  include 'metricas/form.html' %}
            <script>

              frecuencia =   document.getElementById('id_frecuencia')
              year1 = document.getElementById('id_year')
              year1.addEventListener('change', autocompeltarYear2)
              function autocompeltarYear2(e){
                if ( frecuencia.value == 'Bianual' ){
                  console.log('entro');
                  year2 = document.getElementById('id_year2')
                  year2.value = parseInt(year1.value) + 1
                }else if ( frecuencia.value == 'Cuatrienal' ){
                  console.log('entro');
                  year2 = document.getElementById('id_year2')
                  year2.value = parseInt(year1.value) + 3
                }
              }

              document.addEventListener("DOMContentLoaded", function() {
                const frecuenciaField = document.querySelector("#{{ formulario.frecuencia.id_for_label }}"); // Utiliza el id_for_label del campo de frecuencia
                const yearField = document.querySelector("#{{ formulario.year.id_for_label }}"); // Utiliza el id_for_label del campo de año
                const monthField = document.querySelector("#{{ formulario.month.id_for_label }}");
                const semestralField = document.querySelector("#{{ formulario.semestral.id_for_label }}"); // Utiliza el id_for_label del campo de frecuencia
                const year2Field = document.querySelector("#{{ formulario.year2.id_for_label }}"); 

                // Ocultar el campo de año al principio
                yearField.parentElement.style.display = "none";
                yearField.setAttribute("disabled", "disabled");
                year2Field.parentElement.style.display = "none";
                year2Field.setAttribute("disabled", "disabled");
                monthField.parentElement.style.display = "none";
                monthField.setAttribute("disabled", "disabled");
                semestralField.parentElement.style.display = "none";
                semestralField.setAttribute("disabled", "disabled");
            
                frecuenciaField.addEventListener("change", function() {
                  if (frecuenciaField.value === "Anual") {
                    yearField.parentElement.style.display = "block";
                    yearField.removeAttribute("disabled");
                    // Ocultar y deshabilitar el campo de semestre, mes y año2
                    monthField.parentElement.style.display = "none";
                    monthField.setAttribute("disabled", "disabled");
                    semestralField.parentElement.style.display = "none";
                    semestralField.setAttribute("disabled", "disabled");
                    year2Field.parentElement.style.display = "none";
                    year2Field.setAttribute("disabled", "disabled");
                  } else if(frecuenciaField.value === "Mensual"){
                    yearField.parentElement.style.display = "block";
                    yearField.removeAttribute("disabled");
                    monthField.parentElement.style.display = "block";
                    monthField.removeAttribute("disabled");    
                    // Ocultar y deshabilitar el campo de semestre y año2
                    semestralField.parentElement.style.display = "none";
                    semestralField.setAttribute("disabled", "disabled");
                    year2Field.parentElement.style.display = "none";
                    year2Field.setAttribute("disabled", "disabled");
                  } else if (frecuenciaField.value === "Semestral"){
                    yearField.parentElement.style.display = "block";
                    yearField.removeAttribute("disabled");
                    semestralField.parentElement.style.display = "block";
                    semestralField.removeAttribute("disabled");
                    // Ocultar y deshabilitar el campo de mes y año2
                    monthField.parentElement.style.display = "none";
                    monthField.setAttribute("disabled", "disabled");
                    year2Field.parentElement.style.display = "none";
                    year2Field.setAttribute("disabled", "disabled");
                  } else if (frecuenciaField.value === "Bianual" || frecuenciaField.value === "Cuatrienal"){
                    yearField.parentElement.style.display = "block";
                    yearField.removeAttribute("disabled");
                    year2Field.parentElement.style.display = "block";
                    year2Field.removeAttribute("disabled");
                    // Ocultar y deshabilitar el campo de semestre y mes
                    monthField.parentElement.style.display = "none";
                    monthField.setAttribute("disabled", "disabled");
                    semestralField.parentElement.style.display = "none";
                    semestralField.setAttribute("disabled", "disabled");                    
                  }
                  else{
                    yearField.parentElement.style.display = "none";
                    yearField.setAttribute("disabled", "disabled");
                    monthField.parentElement.style.display = "none";
                    monthField.setAttribute("disabled", "disabled");
                    semestralField.parentElement.style.display = "none";
                    semestralField.setAttribute("disabled", "disabled");
                  }
                });
              });
            </script>
        </div>
        <div class="card-footer text-muted" style="background-color: #D7A5FF;">
            
        </div>
    </div>
    <br>
</center>

{% endblock %}