{% extends "base.html" %}

{% block titulo %} Agregar nueva métrica {% endblock %}

{% block contenido %} 

<center>
    <div class="card col-md-6" style="text-align: left;">
        <div class="card-header fw-bold" style="background-color: #e468f4;color: #000000;">
            Nueva métrica
        </div>
        <div class="card-body">
            {%  include 'metricas/form.html' %}
        </div>
        <div class="card-footer text-muted" style="background-color: #e468f4;">
            
        </div>
    </div>
</center>

{% endblock %}