{% extends "base.html" %}

{% block titulo %} Editar metrica {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header" style="background-color: #e468f4;">
        Editar informacion de la metrica
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos de la metrica</h4>
        {%  include 'metricas/form.html' %}
    </div>
    <div class="card-footer text-muted" style="background-color: #e468f4;">
        
    </div>
</div>

{% endblock %}