{% extends "base.html" %}

{% block titulo %} Editar métrica {% endblock %}

{% block contenido %} 

<center>
<div class="card col-md-6" style="text-align: left;">
    <div class="card-header fw-bold" style="background-color: #e468f4;color: #fff;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><a href="{% url 'metricas' %}" class="btn btn-secondary rounded-4 fw-bold" style="background-color: transparent; color: #ffff;border-color: #ffff;border-width: 2px;">← Volver</a></span>
            <span><h2>MÉTRICAS</h2></span>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title" style="color: #a020a0;">Editar métrica</h4>
        
        {%  include 'metricas/form.html' %}
    </div>
    <div class="card-footer text-muted" style="background-color: #e468f4;">
        
    </div>
</div>
</center>
{% endblock %}