{% extends "base.html" %}

{% block titulo %} Editar métrica {% endblock %}

{% block contenido %} 

<center>
    <br>
    <br>
<div class="card col-md-6" style="text-align: left;">
    <div class="card-header" style="background-color: #e468f4;">
        Cambiar descripción de la métrica
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos de la métrica</h4>
        
        {%  include 'metricas/form.html' %}
    </div>
    <div class="card-footer text-muted" style="background-color: #e468f4;">
        
    </div>
</div>
</center>

{% endblock %}