<form enctype="multipart/form-data" method="post">
  {% csrf_token %}  
  {% for campo in formulario %}
    <div class="mb-3">
      <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>

      {{ campo }}

    </div>
    <div class="col-12 help-text">{{ campo.errors }}</div>
  {% endfor %}

  <!-- Agrega un div contenedor para el campo de año -->
  <div class="mb-3 d-none" id="campo_year">
    <label for="{{ formulario.year.id_for_label }}" class="form-label">{{ formulario.year.label }}</label>
    {{ formulario.year }}
  </div>
  
  <input name="" id="" class="btn btn-success" style="background-color: #a020ba; border-color: #a020ba;" type="submit" value="Confirmar">
  <a name="" id="" class="btn btn-success" style="background-color: #f60; border-color: #f60;" href="{% url 'metricas' %}" role="button">Cancelar</a>
</form>

