<form enctype="multipart/form-data" method="post">
  {% csrf_token %}  
  {% for campo in formulario %}
    <div class="mb-3">
      <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>

      {{ campo }}

    </div>
    <div class="col-12 help-text">{{ campo.errors }}</div>
  {% endfor %}

  <input name="" id="" class="btn btn-success" style="background-color: #965FB8; border-color: #a020ba;" type="submit" value="Confirmar">
  <a name="" id="" class="btn btn-success" style="background-color: #f60; border-color: #f60;" href="{% url 'metricas' %}" role="button">Cancelar</a>
</form>

