{% extends "base.html" %}

{% block titulo %} Lista de metricas {% endblock %}

{% block contenido %} 

    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn" style="background-color: #f60;" href="{% url 'crear' %}">Agregar nueva metrica</a>
        </div>
        <div class="card-body">
            <h class="card-title">Metricas</h>
            <div class="table-responsive">
                <table class="table" style="background-color: #e468f4;">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Unidad de medida</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for metri in metrica %}
                        <tr class="">
                            <td scope="row">{{ metri.id }}</td>
                            <td>{{ metri.titulo }}</td>
                            <td>{{ metri.descripcion }}</td>
                            <td>{{ metri.unidad_medida }}</td>
                            <td> 
                                <a name="" id="" class="btn btn-info" href="{% url 'editar' metri.id %}" role="button">Editar</a> 
                                <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' metri.id %}" role="button">Eliminar</a> 
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>

{% endblock %}