{% extends "base.html" %}

{% block titulo %} Lista de metricas {% endblock %}

{% block contenido %} 
<center>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="col-md-10 card" style="text-align: left;">
        <div class="card-header" style="background-color: #e468f4;">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <span><a href="{% url 'inicio' %}" class="btn btn-secondary rounded-3 fw-bold" style="background-color: transparent; color: #ffff;border-color: #ffff;border-width: 2px;">← Inicio</a></span>
                <span><h2>MÉTRICAS</h2></span>
            </div>  
        </div>
        <div class="card-body">
            <a name="" id="" class="btn fw-bold rounded-3" style="background-color: #fff4bb;color: #000000;border-color: #ffd500;border-width: 3px;" href="{% url 'crear' %}">+ Agregar nueva métrica</a>
            <br>
            <br>
            <div class="table-responsive">
                <table class="table" style="background-color: #eab5f1;">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Título</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Unidad de medida</th>
                            <th scope="col">Valor</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for metri in metrica %}
                        <tr class="">
                            <td scope="row">{{ metri.id }}</td>
                            <td>{{ metri.titulo }}</td>
                            <td>{{ metri.descripcion }}</td>
                            <td>{{ metri.unidad_medida }}</td>
                            <td>{{ metri.valor }}</td>
                            <td> 
                                <!-- ... otros botones ... -->
                               {{ metri.año_actual }}
                            </td>
                            <td> 
            
                                <a name="" id="" class="btn" style="background-color: #a020b0;" href="{% url 'editar' metri.id %}">Editar</a> 
                                <a name="" id="" class="btn" style="background-color: #f60;" href="{% url 'eliminar' metri.id %}" role="button">Eliminar</a>
                                <a name="" id="" class="btn" style="background-color: #ffd500;" href="{% url 'historial_metrica' metri.id %}">Histórico</a>
                        
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted" style="background-color: #e468f4;">
        </div>
    </div>
</center>

{% endblock %}