{% extends "base.html" %}

{% block titulo %} Histórico {% endblock %}

{% block contenido %} 
<br>
<br>
<br>
<center>
<div class="card col-md-6" style="text-align: left;">
    <div class="card-header fw-bold" style="background-color: #D7A5FF;color: #000000;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><a href="{% url 'metricas' %}" class="btn btn-secondary rounded-4 fw-bold" style="background-color: transparent; color: #ffff;border-color: #ffff;border-width: 2px;">⪻ Volver</a></span>
            <span><h2>HISTÓRICO</h2></span>
        </div>
    </div>
    <div class="card-body" >
                <title>Historico de la métrica</title>
                
                <body>
                    <h2>{{ metrica.frecuencia }}</h2>
                    <br>
                    <table class="table rounded-4" style="background-color: #D7A5FF; width: flex;">
                        <tr>
                            {% if metrica.frecuencia == 'Mensual' %}
                                <th>Año</th>
                                <th>Mes</th>
                                <th>Valor</th>
                            {% endif %}
                            {% if metrica.frecuencia == 'Semestral' %}
                                <th>Año</th>
                                <th>Semestre</th>
                                <th>Valor</th>
                            {% endif %}
                            {% if metrica.frecuencia == 'Anual' %}
                                <th>Año</th>                            
                                <th>Valor</th>
                            {% endif %}
                            {% if metrica.frecuencia == 'Bianual' or metrica.frecuencia == 'Cuatrienal'%}
                                <th>Año inicio</th>
                                <th>Año fin</th>
                                <th>Valor</th>
                            {% endif %}                            
                        </tr>

                        {% for item in historial %}
                            <tr>
                                <td scope="row">{{ item.año_historico }}</td>
                                {% if metrica.frecuencia == 'Mensual' %}                              
                                    <td scope="row">{{ item.mes_historico }}</td>
                                {% endif %}
                                {% if metrica.frecuencia == 'Bianual' or metrica.frecuencia == 'Cuatrienal' %} 
                                    <td scope="row">{{ item.año2_historico }}</td>   
                                {% endif %}
                                {% if metrica.frecuencia == 'Semestral' %} 
                                    <td scope="row">{{ item.semestre_historico }}</td>     
                                {% endif %}
                                <td>{{ item.valor_historico }}</td>
                                <td><a class="btn eliminar-btn" data-id="{{ item.id }}" style="background-color: #f60;" role="button"><i class="fa-solid fa-trash-can"></i></a></td>
                            </tr>
                        {% endfor %}                        
                    </table>

                    <br>
                    <h6>Agregar nueva instancia:</h6>
                    <form method="post">
                        {% csrf_token %}
                        <input id="id_year" type="number" name="nuevo_año" required class="rounded-3"  placeholder="Ingrese año" style="border-color: #965FB8;">
                        {% if metrica.frecuencia == 'Mensual' %}
                        <select id="meses" name="nuevo_mes" style="border-color: #965FB8;">
                            <option value="Enero">Enero</option>
                            <option value="Febrero">Febrero</option>
                            <option value="Marzo">Marzo</option>
                            <option value="Abril">Abril</option>
                            <option value="Mayo">Mayo</option>
                            <option value="Junio">Junio</option>
                            <option value="Julio">Julio</option>
                            <option value="Agosto">Agosto</option>
                            <option value="Septiembre">Septiembre</option>
                            <option value="Octubre">Octubre</option>
                            <option value="Noviembre">Noviembre</option>
                            <option value="Diciembre">Diciembre</option>
                        </select>
                        <!-- <input type="string" name="nuevo_mes" required class="rounded-3" placeholder="Ingrese mes" style="border-color: #965FB8;"> -->
                        {% endif %}
                        {% if metrica.frecuencia == 'Semestral' %}                        
                        <select id="semestre" name="nuevo_semestre" style="border-color: #965FB8;">
                            <option value="Enero-Junio">Enero-Junio</option>
                            <option value="Julio-Diciembre">Julio-Diciembre</option>
                        </select>
                            <!-- <input type="number" name="nuevo_semestre" required class="rounded-3" placeholder="Ingrese semenstre" style="border-color: #965FB8;"> -->
                        {% endif %}
                        {% if metrica.frecuencia == 'Bianual' or  metrica.frecuencia == 'Cuatrienal' %}
                            <input id="id_year2" type="number" name="nuevo_año2" readonly value="Este es un campo de solo lectura" required class="rounded-3" placeholder="año fin" style="border-color: #965FB8;">
                        {% endif %}
                        <input type="number" name="nuevo_valor" required class="rounded-3" placeholder="Ingrese valor" style="border-color: #965FB8;">
                        <button type="submit" class="btn rounded-4 fw-bold" style="background-color: #fff4bb;color: #000000;border-color: #ffd500;border-width: 3px;">Agregar</button>
                    </form>
                </body>

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <script>
                    setTimeout(function() {
                        var altaExitosaMessage = document.querySelector('.messages .alta-exitosa');
                        if (altaExitosaMessage) {
                            altaExitosaMessage.style.display = 'none';
                        }
                    }, 3000);  // Tiempo en el que se muestra el mensaje de éxito
                   
                    var frecuencia = "{{ metrica.frecuencia }}";
                    // frecuencia =   document.getElementById('id_frecuencia')
                    year1 = document.getElementById('id_year')
                    // console.log(year1.value);
                    year1.addEventListener('change', autocompeltarYear2)
                    function autocompeltarYear2(e){
                        if ( frecuencia == 'Bianual' ){
                        year2 = document.getElementById('id_year2')
                        year2.value = parseInt(year1.value) + 1
                        }else if ( frecuencia == 'Cuatrienal' ){
                        console.log('entro');
                        year2 = document.getElementById('id_year2')
                        year2.value = parseInt(year1.value) + 3
                        }
                    }

                </script>

    </div>
    <div class="card-footer text-muted" style="background-color: #D7A5FF;">
        <br>
    </div>   
</div> 
<br> 
</center>
<!-- El siguiente bloque es js-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const eliminarButtons = document.querySelectorAll(".eliminar-btn");
        
        eliminarButtons.forEach(button => {
            button.addEventListener("click", function() {
                const historialId = this.getAttribute("data-id");
                
                if (confirm("¿Estás seguro de que deseas eliminar esta instancia?")) {
                    // Realizar la solicitud AJAX para eliminar el historial
                    fetch(`/eliminar_historial_metrica/${historialId}/`, {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}",
                            "Content-Type": "application/json"
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Eliminar la fila de la tabla en la página
                        if (data.success) {
                            const fila = this.closest("tr");
                            fila.remove();
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
                }
            });
        });
    });
</script>


{% endblock %}