<form enctype="multipart/form-data" method="post">
    {% csrf_token %}  
        <div class="mb-3">
          <label for="{{ formulario.nombre.id_for_label }}" class="form-label">{{ formulario.nombre.label }}</label>
          {{ formulario.nombre }}  
        </div>
        <div class="col-12 help-text">{{ formulario.nombre.errors }}</div>
        <div class="mb-3">
          <label for="{{ formulario.descripcion.id_for_label }}" class="form-label">{{ formulario.descripcion.label }}</label>
          {{ formulario.descripcion }}  
        </div>
        <div class="col-12 help-text">{{ formulario.descripcion.errors }}</div>
        <label class="form-label">Objetivos</label>
        <table class="table rounded-4" style="background-color: #D7A5FF; width: flex;">
          <tr> 
              <th>ID</th>
              <th>Objetivo</th>  
              <th>Acciones</th>                      
          </tr>

          {% for obj in objetivos %}
              <tr> <!-- Los campos que se mostraran varian segun la frecuancia de la metrica -->
                <td scope="row">{{ obj.id }}</td>                            
                <td scope="row">{{ obj.nombre }}</td>
                <td><a class="btn eliminar-btn" data-id="{{ item.id }}" style="background-color: #f60;" role="button"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
        {% endfor %}                        
    </table>      
    <label for="{{ form_objetivo.nombre.id_for_label }}" class="form-label">Nuevo Objetivo</label>
    <div class="horizontal-fields" style="display:flex" style="flex-direction:row">
      <div style="flex: 7; margin-right: 10px;">
        {{ form_objetivo.nombre }} 
        <div class="help-text">{{ formulario2.form_objetivo.errors }}</div>
      </div>        
      <div  style="flex: 1;">
        <button class='rounded-4 fw-bold 'id="miBoton" type="button" style="border-radius: 3%; color:white;background-color: #965FB8;border-color: transparent;">Agregar</button>
      </div>
    </div>
    <br>
    <div class="mb-3">
      <label for="{{ formulario.duracion.id_for_label }}" class="form-label">{{ formulario.duracion.label }}</label>
      {{ formulario.duracion }}  
    </div>
    <div class="col-12 help-text">{{ formulario.duracion.errors }}</div>  


  <input name="" id="" class="btn btn-success min-content" style="background-color: #965FB8;border-color: #965FB8;margin-left: 206px;" type="submit" value="Confirmar">
  <a name="" id="" class="btn btn-success" style="background-color: #f60; border-color: #f60;margin-left:5px;" href="{% url 'programas' %}" role="button">Cancelar</a>

</form>

<script>
  function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
    }
    return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');
  let boton = document.getElementById("miBoton"); 
  // Cuando el usuario hace clic en el boton guardar se hace una llamada a la vista crear objetivo2 para crear el objetivo
  boton.addEventListener("click", agregar_objetivo)
  function agregar_objetivo(){     
    let objetivo = document.getElementById("nombre_objetivo"); 
    let programa = "{{ programa.id }}"
    const data = { programa: programa, nombre:objetivo.value}
    let url = " {% url 'crear_objetivo2' %} "
    fetch(url, { //Hace la request HTTP
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(data), //envia en la id del ambito elegido, la que se guardo mas arriba en la variable data
    })
    .then(response => response.json())
    .then(data => { //se reutiliza la variable data para guardr el resultado, osea todos los tipos relacionados con el ambito elegido
      console.log('Success:', data[0]['nombre']);
    })
    .catch((error) => {
      console.error('Error:', error);
    })
    // Cuando se termina de cargar el objetivo se refresca la pagina para que se actualice la tabla
    location.reload();
  }
</script>